{% extends 'goods/base.html' %}
{% load static %}
{% load mathfilters %}

<!--{% block title %}  {% endblock title %}-->

{% block content %}
<h1> Admin panel </h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Добавить машину
</button>
{% if success %}
<h3 class="text-primary"> Запись добавленна </h3>

        {% else %}
        <h3> запись NOT добавленна</h3>
{% endif %}


{% if update %}

<a class="mt-24"> Page Update </a>

 <form id="update_form" method="post">

          {% csrf_token %}
 {% for n in form %}

                    <div class="form-group">
                        {% if n.errors %}
                        <div class="alert alert-danger" role="alert">
                             {{n.errors}}
                         </div>
                        {% endif %}
                        {{ n }}
                        {{n.label}}

                    </div>
            {% endfor %}
        </form>
  <button form="update_form" type="submit" class="btn btn-primary"> Update </button>
    <div class="mt-4"> <a href="{% url 'add_car_new' %}"> List Cars </a> </div>
{% else %}


<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Title</th>
    <th scope="col">Price</th>
    <th scope="col">Update</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for car in list_car %}
  <tr>
    <th scope="row">{{ car.id }} - {{ car.author }}</th>
    <td>{{ car.title }}</td>
    <td>{{ car.price }}</td>
      {% if request.user == car.author or request.user.is_superuser %}
      <td>@<a href="{% url 'update_car_new' car.id %}"> редактировать </a></td>
      {% else %}
      <td> нет доступа </td>
      {% endif %}
    {% if request.user == car.author or request.user.is_superuser  %}
<!--      <td>@<form id="delete_car{{ car.id }}" action="{% url 'delete_car_new' car.id %}" method="post">{% csrf_token %} </form>-->
<!--                <a href=" javascript:void()" onclick="delete_question{{car.id}}()"> удалить </a>-->

<!--      </td>-->

<!--      <script>-->
<!--      function delete_question() {-->
<!--                if (confirm("Are you real?")) {-->
<!--                    document.getElementById("delete_car").submit()-->
<!--                    }-->
<!--      </script>-->
      <td>@<a id="delete_car" onclick="delete_question()" href="{% if response_from_modal_window == true %} {% url 'delete_car_new' car.id %} {% endif %}"> удалить </a></td>
<script>
    function delete_question() {
                response_from_modal_window = confirm("Are you real?")

                   }
     </script>

      {% else %}
      <td> нет доступа </td>
      {% endif %}



  </tr>
  {% endfor %}
</table>
{% endif %}

<div class="modal-body">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <form id="add_form" method="post">

          {% csrf_token %}

          {% for n in form %}

                    <div class="form-group">
                        {% if n.errors %}
                        <div class="alert alert-danger" role="alert">
                             {{n.errors}}
                         </div>
                        {% endif %}
                        {{n.label}}
                        {{ n }}
                    </div>
            {% endfor %}


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button form="add_form" type="submit" class="btn btn-primary"> Добавить </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
