{% extends 'goods/base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %} {{ car.title }} {% endblock title %}

{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'goods_list_url' %}">Home</a></li>
							<li><a href="#">All Categories</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Headphones</a></li>
							<li class="active">Product name goes here</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<h3>{{car.title}}</h3>
						<h3>{% for model in car.genres.all %}
							{{ model.name }}
							{% endfor %}
						</h3>
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{car.poster.url}}" alt="">
							</div>


							{% for image in car.carshorts_set.all %}
							<div class="product-preview">
								<img src="{{ image.image.url }}" alt="">
							</div>
							{% endfor %}

						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{car.poster.url}}" alt="">
							</div>

							{% for image in car.carshorts_set.all %}
							<div class="product-preview">
								<img src="{{ image.image.url }}" alt="">
							</div>
							{% endfor %}


						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">product name goes here</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#">10 Review(s) | Add your review</a>
							</div>
							<div>
								<h3 class="product-price">{{car.price|mul:0.7|floatformat:0}}
									<del class="product-old-price">{{car.price}}</del>
								</h3>
								<span class="product-available">In Stock</span>
							</div>
							<p>Lorem ipsum dolor sit amet,wwwwwwwwwwwwwwwwwwwww</p>

							<div class="product-options">
								<label>
									Size
									<select class="input-select">
										<option value="0">X</option>
									</select>
								</label>
								<label>
									Color
									<select class="input-select">
										<option value="0">Red</option>
									</select>
								</label>
							</div>

							<div class="add-to-cart">
								<div class="qty-label">
									Qty
									<div class="input-number">
										<input type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
							</ul>

							<ul class="product-links">
								<li>Category:</li>
								<li><a href="#">Headphones</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>

							<ul class="product-links">
								<li>Share:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab2">Details</a></li>
								<li><a data-toggle="tab" href="#tab3">Reviews ({{ car.reviews_set.count }})</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p> {{car.title}} </p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<p>
												{% for model in car.genres.all %}
												{{ model.name }}
												{% endfor %}
											</p>
										</div>
									</div>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
			<form action="{% url 'add_rating' %}" method="post" name="rating">
<!--				<b> Rating </b>-->
<!--				{% csrf_token %}-->
<!--				<input type="hidden" value="{{ car.id }}" name="car">-->
<!--				<span class="rating">-->
<!--					{% for k,v in star_form.fields.star.choices %}-->
<!--						<input id="rating{{ v }}" type="radio" name="star" value="{{ v }}">-->
<!--						<label for="rating{{ v }}"> {{ k }}</label>-->

<!--					{% endfor %}-->

<!--				</span>-->
<!--				<span class="editContent"></span>-->
<!--				<b> Rating </b>-->
<!--				&lt;!&ndash;<div class="col-md-3">-->
<!--											<div id="rating">-->
<!--												<div class="rating-avg">-->
<!--													<span>5</span>-->
<!--													<div class="rating-stars">-->
<!--														<i class="fa fa-star"></i>-->
<!--														<i class="fa fa-star"></i>-->
<!--														<i class="fa fa-star"></i>-->
<!--														<i class="fa fa-star"></i>-->
<!--														<i class="fa fa-star-o"></i>-->
<!--													</div>-->
<!--												</div>-->
<!--												<ul class="rating">-->
<!--													<li>-->
<!--														<div class="rating-stars">-->
<!--															<i class="fa fa-star"></i>-->
<!--															<i class="fa fa-star"></i>-->
<!--															<i class="fa fa-star"></i>-->
<!--															<i class="fa fa-star"></i>-->
<!--															<i class="fa fa-star"></i>-->
<!--														</div>-->
<!--														<div class="rating-progress">-->
<!--															<div style="width: 80%;"></div>-->
<!--														</div>-->
<!--														<span class="sum">3</span>-->
<!--													</li>-->

<!--												</ul>-->
<!--											</div>-->
<!--										</div>&ndash;&gt;-->
<!--				-->
<!--				<button type="submit" class="primary-btn">Submit</button>-->
			</form>
										<!-- /Rating -->

										<!-- Reviews -->


										<div class="col-md-6">

											<div id="reviews">
							{% for reviews in posts %}

												<ul class="reviews">
													<li>
														<div class="review-heading">
															<h5 class="name">{{ reviews.name }}</h5>
															<p class="date">{{ reviews.date_post }}</p>
<!-- tab3  <form action="{% url 'add_rating' %}" method="get" name="rating">
	<b> Rating </b>
	{% csrf_token %}
	<input type="hidden" value="{{ car.id }}" name="car">
	<span class="rating">
		{% for k,v in star_form.fields.star.choices %}
		<input id="rating{{ v }}" type="radio" name="star" value="{{ v }}">
		<label for="rating{{ v }}"> {{ k }} </label>
		{% endfor %}

	</span>
</form>-->
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>{{ reviews.text}}</p>
														</div>
														<a href="#formReview"
														   onclick="addReview('{{ reviews.name }}', '{{ reviews.id }}')"
														   style="color:red"> Ответ </a>
													</li>
												</ul>
							{% for revs in reviews.reviews_set.all %}
												<div style="padding: 12px 12px 12px 12px "
													 class="media mt-5 editContent">
													<div style="padding-left: 22px " class="media-body">
														<h5 style="background: #17b026" class="mt-0 editContent"> {{ revs.name }} </h5>

												<p style="color: green" class="mt-2 editContent"> {{ revs.text }} </p>

													</div>

												</div>
							{% endfor %}


							{% endfor %}


												<nav aria-label="...">
													<ul class="pagination" href="#tab3">

														<li class="page-item {% if not prev_url %} disabled {% endif %}">
															<a class="page-link" href="{{ prev_url }}" tabindex="-1"
															   aria-disabled="true">Previous</a>
														</li>

														{% for n in posts.paginator.page_range %}


														{% if posts.number == n %}
														<li class="active ">
															<a class="page-link" href="?page={{ n }}">{{ n }}</a>
														</li>
														{% elif n > posts.number|add:-2 and n < posts.number|add:2 %}
														<li class="page-item">
															<a class="page-link" href="?page={{ n }}">{{ n }}</a>
														</li>
														{% endif %}

														{% endfor %}


														<li class="page-item {% if not next_url %} disabled {% endif %}">
															<a class="page-link" href="{{ next_url }}" tabindex="-1"
															   aria-disabled="true">Next</a>
														</li>


													</ul>
												</nav>

											</div>


										</div>


										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form action="{% url 'add_review' car.id %}" method="post"
													  class="review-form" id="formReview">
													{% csrf_token %}

													<input class="input" , type="hidden" , name="parent" ,
														   id="contactparent" , value="">
													<label>ваш коментарий*</label>
													<input class="input" type="text" name="name"
														   placeholder="Your Name">
													<input class="input" type="email" name="email"
														   placeholder="Your Email">
													<textarea class="input" name="text" id="contactcoment" ,
															  placeholder="Your Review"></textarea>
													<!-- <div class="input-rating">
														/tab3 <span>Your Rating: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>  -->
													<button type="submit" class="primary-btn">Submit</button>
												</form>
											</div>
										</div>

										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Related Products</h3>
						</div>
					</div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product02.png" alt="">
								<div class="product-label">
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->
<script>
	function addReview(name, id){
		document.getElementById("contactparent").value = id;
		document.getElementById("contactcoment").innerText = '@' + name + ','

	}

</script>
{% endblock content %}
